body{ 
  font-family:arial;
  margin: 0;
}
h3{ 
  margin:10px;
  color:#333;
}
header{ 
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  background:#fff;
  border-bottom:solid 1px #999;
  padding:0;
  z-index:1000;
  font-size:16px;
  min-width:1200px;
}
header input{ 
  width:250px;
  padding:8px;
  font-size: 11px;
  margin: 0 0 10px 0;
  height: 8px;
  border: 1px solid #333;
  display: inline;
}
header.slim{ 
  display:none;
}
.startend {
	display: inline-block;
	font-family: arial;
	font-weight: bold;
	font-size: 8px;
	line-height: 1em;
	text-transform: uppercase;
	width: 45px;
	margin: 3px 0 0 6px;
	padding-top: 4px;
	}

.camerasheader {
	background-color: #00B73B;
	width: 100%;
	height: 15px;
	font-size: 10px;
	font-family: Arial;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding: 6px 0 3px 0;
}
.btn{ 
  cursor:pointer;
  color:#fff;
  display:inline;
  font-size: 12px;
}
.btn.selected{ 
  background:#fff;
  color:#0093d0;
}

.btn:hover{ 
  background:#069314;
}
.btn.selected:hover{
  background:#069314;
} 
header .btn{
  margin-top:-10px;
}
header.slim .btn{ 
  margin-top:0px;
}
#logo_large{
  margin: 0 5px 0 0;
}
#logo_small{
  display:none;
} 

#summary{ 
  display:none;
}
#directions{  
  background-color: #eee;
  width: 100%;
  height: 36px;
}
#getdirections{ 
  margin: 0 0 0 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 10px;
  padding: 6px;
  background: #40B418;
}
#showfavs{ 
  float: left;
  position: absolute;
  left: 149px;
  top: 52px;
}
div#map{ 
  position:absolute;
  top:36px;
  left:0px;
  bottom:0px;
  right:325px;
}
div#menu{ 
  width:325px;
  position:absolute;
  right:0px;
  top:0px;
  z-index:10001;
  bottom:0px;
  overflow:auto;
  background:#ddd;
}
div#cameras{ 
  width:325px;
  margin:auto;
}
div.cameradesc{ 
  float: left;
  position: relative;
  margin: -70px 0 0 10px;
  padding: 15px;
  color: #333;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  font-weight: bold;
}
div#navbar{ 
  display:none;
}
div#container{ 
  display:none;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background:rgba(255,255,255,0.3);
  z-index:10000;
}

div.dialog{ 
  width:300px;
  margin:100px auto 0px auto;
  border:solid 1px #eee;
  background:#fff;
  height:400px;
  overflow:auto;
  padding:15px;

}

div#nameroute{ 
  display:none;
}
div#nameroute input{ 
  width:250px;
  padding:8px;
  font-size:16px;
  
}
div#routefavs{ 
  display:none;
}

div#routefavs ul{ 
  margin:0px;
  padding:0px;
}
div#routefavs ul li{ 
  padding:5px;
  margin:0px;
  font-size:14px;
  color:#666;
  list-style:none;
  cursor:pointer;
  border-bottom:solid 1px #ccc
}
div#routefavs ul li:hover{
  background:#eef8ee;
} 
div#routefavs ul li span.name{
  font-size:18px;
  color:#333;
  font-weight:bold;
}
div#routefavs ul li div.remove{
  float:right;
  cursor:pointer;
  
}
div.close{ 
  float:right;
  font-size:22px;
  color:#666;
  cursor:pointer;
}
div#favorited{ 
  float: left;
  position: absolute;
  left: 267px;
  top: 52px;
  cursor:pointer;

}

div.examples{
  margin:3px 0px 0px 35px;
  color:#999;
  font-style:italic;
  font-size:12px;
}
div.examples a{ 
  color:#666;
}
div.examples a:hover{
  color:#444;
}
div#directions{ 
  float:left;
}
div#logo{ 
  float:left;
  margin: 0;
}
div#menu p{ 
  text-align:center;
  color:#666;
}