body{ 
  font-family:arial;
}
h3{ 
  margin:10px;
  color:#333;
}
header{ 
  height:50px;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  background:#fff;
  border-bottom:solid 1px #999;
  padding:15px;
  z-index:1000;
  font-size:16px;
}
header input{ 
  width:250px;
  padding:8px;
  font-size:16px
  margin:10px;
  margin-right:15px;
}
header.slim{ 
  display:none;
  
}

.btn{ 
  cursor:pointer;
  padding:5px 10px;
  border-radius:5px;
  background:#0093d0;
  border: solid 1px #ccc;
  color:#fff;
  display:inline;
}
.btn.selected{ 
  background:#fff;
  color:#0093d0;
}

.btn:hover{ 
  background:#00a3e0;
}
.btn.selected:hover{
  background:#e8e8e8;
} 
#summary{ 
  display:none;
}
#directions{ 
  display:none;
}

div#map{ 
  position:absolute;
  top:70px;
  left:0px;
  bottom:0px;
  right:325px;
}
div#menu{ 
  width:325px;
  position:absolute;
  right:0px;
  top:80px;
  z-index:105;
  bottom:0px;
  overflow:auto;
  background:#fff;
  border-left:solid 1px #999;
}
div#cameras{ 
  width:325px;
  margin:auto;
}
div.cameradesc{ 
  float:left;
  position:relative;
  margin-top:-70px;
  padding:15px;
  color:#333;
  background:rgba(255,255,255,0.9);
  font-size:16px;
}
div#navbar{ 
  display:none;
}