body{ 
  font-family:arial;
}
h3{ 
  margin:10px;
  color:#333;
}
header{ 
  height:50px;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  background:#fff;
  border-bottom:solid 1px #999;
  padding:15px;
  z-index:1000;
  font-size:16px;
}
header input{ 
  width:250px;
  padding:8px;
  font-size:16px
  margin:10px;
  margin-right:15px;
}
header.slim{ 
  display:none;
  
}

.btn{ 
  cursor:pointer;
  padding:5px 10px;
  border-radius:5px;
  background:#0093d0;
  border: solid 1px #ccc;
  color:#fff;
  display:inline;
}
.btn.selected{ 
  background:#fff;
  color:#0093d0;
}

.btn:hover{ 
  background:#00a3e0;
}
.btn.selected:hover{
  background:#e8e8e8;
} 
#summary{ 
  display:none;
}
#directions{ 
  display:none;
}

div#map{ 
  position:absolute;
  top:80px;
  left:0px;
  bottom:0px;
  right:325px;
}
div#menu{ 
  width:325px;
  position:absolute;
  right:0px;
  top:80px;
  z-index:105;
  bottom:0px;
  overflow:auto;
  background:#fff;
  border-left:solid 1px #999;
}
div#cameras{ 
  width:325px;
  margin:auto;
}
div.cameradesc{ 
  float:left;
  position:relative;
  margin-top:-70px;
  padding:15px;
  color:#333;
  background:rgba(255,255,255,0.9);
  font-size:16px;
}
div#navbar{ 
  display:none;
}
div#container{ 
  display:none;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background:rgba(255,255,255,0.3);
  z-index:10000;
}

div.dialog{ 
  width:300px;
  margin:100px auto 0px auto;
  border:solid 1px #eee;
  background:#fff;
  height:400px;
  overflow:auto;
  padding:15px;

}

div#nameroute{ 
  display:none;
}
div#nameroute input{ 
  width:250px;
  padding:8px;
  font-size:16px
  margin:20px;
  margin-bottom:30px;
  
}
div#routefavs{ 
  display:none;
}

div#routefavs ul{ 
  margin:0px;
  padding:0px;
}
div#routefavs ul li{ 
  padding:5px;
  margin:0px;
  font-size:14px;
  color:#666;
  list-style:none;
  cursor:pointer;
  border-bottom:solid 1px #ccc
}
div#routefavs ul li:hover{
  background:#eef8ee;
} 
div#routefavs ul li span.name{
  font-size:18px;
  color:#333;
  font-weight:bold;
}
div#routefavs ul li div.remove{
  float:right;
  cursor:pointer;
  
}
div.close{ 
  float:right;
  font-size:22px;
  color:#666;
  cursor:pointer;
}
img#favorited{ 
  position:relative;
  top:8px;
  cursor:pointer;
}

div.examples{
  margin:3px 0px 0px 35px;
  color:#999;
  font-style:italic;
  font-size:12px;
}
div.examples a{ 
  color:#666;
}
div.examples a:hover{
  color:#444;
}
