div#getdirections{ 
  margin: 0;
  width: 15px;
  height: 15px;
  font-weight: bold;
  font-size: 10px;
  padding: 8px;
  background: #40B418;
}
header{ 
  height:135px;
}
header input{ 
  width:70%;
  margin-bottom:10px;
}
header.slim{  
  position: absolute; 
  height: 36px;
  top:0px;
  left:0px;
  right:0px;
  background:#04B518;
  color:#fff;
  font-size:12px;
  display: none;
}
#logo_large{ 
  display:none;
}
#logo_small{
  margin: 0;
  display: block;
} 
div.dialog{ 
  position:absolute;
  margin:0px;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height:inherit;
  width:inherit
}
header{ 
  min-width:inherit;
}
header .btn{ 
  font-size:12px;
  padding:3px;
}
header.slim .btn{ 
float:right;
}
div#map{ 
  width:100%;
  position:absolute;
  left:0px;
  top:40px;
  right:0px;
  bottom:50px;
}
div#menu{
  position:absoute;
  top:40px;
  left:0px;
  right:0px;
  bottom:50px;
  border-left:none;
  width:inherit;
  display:none;
}
div#navbar{ 
  display:block;
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  height:30px;
  background:#069314;
  padding-top:15px;
}
div#navbar .btn{ 
  font-size:16px;
  color:#fff;
  border:none;
  background:#04B518;
  border-radius:0px;
  padding:15px 40px;
  margin-right:0px;
  margin:auto;
}
div#navbar .btn.selected{ 
  background:#DDDDDD;
  color: #444;
}

div#directions{ 
  background: #04B518;
}
div.examples{ 
  margin-bottom:20px;
}
input#end{ 
  margin-left:25px;
}
input#start{
	margin-top: 15px;
	margin-left: 25px;
}
#showfavs{ 
  float:right;
  top: 149px;
  left: 16px;
  position: absolute;
}
#change{
  background: #069314;
  padding: 5px;
  margin: 6px 10px 0 0;
  color: #fff;
}
#change:hover{
  background: #fff;
  color: #069314;
}
.startend{
  display: none;
}
div#favorited {
  position: absolute;
  left: 267px;
  top: 16px;
  cursor: pointer;
}
div#showfavs {
  position: absolute;
  left: 147px;
  top: 16px;
  cursor: pointer;
}