div#getdirections{ 
  float:right;
}
header{ 
  height:220px;
  display:none;
}
header input{ 
  width:70%;
  margin-bottom:10px;
}
header.slim{ 
  height:28px;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  padding:7px;
  display:block;
  background:#fff;
  color:#fff;
  font-size:12px;
}
#logo_large{ 
  display:none;
}
#logo_small{
  display:block;
} 

div.dialog{ 
  position:absolute;
  margin:0px;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height:inherit;
  width:inherit
}
header{ 
  min-width:inherit;
}
header .btn{ 
  font-size:12px;
  padding:3px;
}
header.slim .btn{ 
float:right;
}
div#map{ 
  width:100%;
  position:absolute;
  left:0px;
  top:40px;
  right:0px;
  bottom:50px;
}
div#menu{
  position:absoute;
  top:40px;
  left:0px;
  right:0px;
  bottom:50px;
  border-left:none;
  width:inherit;
  display:none;
}
div#navbar{ 
  display:block;
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  height:30px;
  background:#333;
  padding-top:15px;
}

div#navbar .btn{ 

  font-size:16px;
  color:#fff;
  border:none;
  background:#222;
  border-radius:0px;
  padding:15px 40px;
  margin-right:0px;
  margin:auto;
}
div#navbar .btn.selected{ 
  background:#555;
}

div#directions{ 
  margin-top:20px;
}
div.examples{ 
  margin-bottom:20px;
}
input#end{ 
  margin-left:35px;
}
#showfavs{ 
  float:right;
}